@font-face {
    font-family: "Jet Brains Mono Regular";
    src: url("./assets/JetBrainsMono-Regular.woff2") format("woff2"); 
  }

  @font-face {
    font-family: "Jet Brains Mono Italic";
    src: url("./assets/JetBrainsMono-Italic.woff2") format("woff2"); 
  }

  h1{
      font-family: "Jet Brains Mono Regular";
  }

  h2{
      font-family: "Jet Brains Mono Italic";
  }

  .paragraph{
    font-family: "Jet Brains Mono Regular";
    font-size: 50px;
    color: rgb(230, 74, 74);
    transform: rotate(1deg);
  }

  .blue{
      color:rgb(81, 81, 202);
      
      border-bottom: 1px solid blueviolet;
      font-size: 80px;
  }

  .invisible:hover{
     font-size: 100px;
  }

  .red{
      color:aquamarine;
      transform: rotate(120deg);
      opacity: 20%;
       
  }
  .pop{
      background-color: black;
  }

  .page{
     
      color:chartreuse;
      background-color: black;
      border-bottom: 15px solid rgb(195, 161, 226);
      border-top: 15px solid rgb(195, 161, 226);
  }
