@font-face {
    font-family: "Jet Brains Mono Regular";
    src: url("./assets/JetBrainsMono-Regular.woff2") format("woff2"); 
  }

  @font-face {
    font-family: "Jet Brains Mono Italic";
    src: url("./assets/JetBrainsMono-Italic.woff2") format("woff2"); 
  }

  body{
      background-color: burlywood;
  }
  h1{
      font-family: "Jet Brains Mono Regular";
  }

  h2{
      font-family: "Jet Brains Mono Italic";
  }

  .paragraph{
    font-family: "Jet Brains Mono Regular";
    font-size: 50px;
    color: rgb(230, 74, 74);
    transform: rotate(1deg);
  }

  .blue{
      color:rgb(230, 117, 122);
      border-bottom: 1px solid blueviolet;
      font-size: 80px;
  }

  .invisible:hover{
     font-size: 100px;
     color: #000;
  }

  .red{
      color:rgb(233, 214, 108);
      transform: rotate(120deg);
      opacity: 20%;
       
  }
  .pop{
      background-color: rgb(228, 235, 142);
  }

  .page{
     
      color:chartreuse;
      background-color: black;
      border-bottom: 15px solid rgb(195, 161, 226);
      border-top: 15px solid rgb(195, 161, 226);
  }
.no{
    transform: rotate(120deg);
    border-width: 1em;
    border: dotted orange;
  border-width: 0.2em 0 9px;
  color: rgb(236, 132, 62);
    
}